// Tip: This is a good Flexbox cheatsheet: https://css-tricks.com/snippets/css/a-guide-to-flexbox/

@import "styles.scss";

#lobby-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 75%;
  height: 75%;
  background-color: black;
  border: 2px solid white;
}

.title {
  flex-shrink: 0;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1rem;
  border-bottom: 2px white solid;
}

#player-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}

.player-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  font-size: 1rem;
  padding: 10px;
  color: white;
}

.player-item:nth-child(even) {
  background-color: black;
}

.player-item:nth-child(odd) {
  background-color: #202020;
}

.player-item.debug {
  color: red;
}

.ready {
  color: green;
}

.not-ready {
  color: red;
}

#options {
  border-top: 2px white solid;
  justify-content: center;
  align-items: stretch;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  color: white;
  padding: 20px;
  background-color: green;
}

#start-game {
  border-right: 2px white solid;
}

button:hover {
  background-color: $primary-dark;
}

button:active {
  background-color: $primary-darker;
}