// Tip: This is a good Flexbox cheatsheet: https://css-tricks.com/snippets/css/a-guide-to-flexbox/

@import "styles.scss";

#lobby-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 75%;
  height: 75%;
  background-color: black;
  border: 2px solid white;
  color: white;
}

.title {
  flex-shrink: 0;
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 1.5rem;
  border-bottom: 2px white solid;
}

.client-type-container {
  align-items: center;
}

.client-type {
  font-weight: bold;
  padding: 10px;
}

.client-type-join {
  background-color: green;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

#client-list-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: scroll;
}

.client-list {
  flex-direction: column;
  margin-left: 30px;
}

.client-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  font-size: 1rem;
  padding: 10px;
  color: white;
}

.client-item:nth-child(even) {
  background-color: black;
}

.client-item:nth-child(odd) {
  background-color: #202020;
}

.client-item.debug {
  color: red;
}

.ready {
  color: green;
}

.not-ready {
  color: red;
}

#options {
  border-top: 2px white solid;
  justify-content: center;
  align-items: stretch;
}

#options button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
  padding: 20px;
  background-color: green;
}

#start-game {
  border-right: 2px white solid;
}

button:hover {
  background-color: $primary-dark;
}

button:active {
  background-color: $primary-darker;
}